<div class="container" (focus)="stopBell()" (click)="stopBell()" (mouseover)="stopBell()">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-5">
        <img src="assets/img/comment.png" width="100px" />
      </h1>
      <p class="text-center mt-4" style="font-weight: 300">Chcę coś od Ciebie!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center mt-4">
        <button class="btn btn-outline-dark" (click)="ringBell()">Ping! <img src="assets/img/bell.png" width="32px" /></button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
